doctype html
html(ng-app='myApp', lang="fr")
    head
        <title>Dashboard</title>
    body
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js")
        script(src='/js/controller/indexCtrl.js')
        script(src='/js/service/serviceSystemInfo.js')
        script(src='/js/service/serviceXhr.js')
        include /views/index.html
        link(rel="stylesheet", href="css/index.css")